/obj
/project/obj
/project/vc110.pdb
/project/all_objs
/deploy.zip
.DS_Store
/project/common/*.sdf
/project/common/*.suo
/project/common/Debug/*.idb
/project/common/Debug/*.pdb
/project/common/Debug
/project/common/*.opensdf
